.main {
    text-align: center;
    background-color: #0000cc;
    border: 5px outset #bbbbff;
    padding: 0px;
}
.barra {
    background-color: #dedede;
    font-family: monospace;
    font-size: 15px;
    width: 600px;
    vertical-align: middle;
    text-align: center;
    padding: 2px;
}
.base {
    font-size: 12px;
    color: #ffffff;
    background-color: #0000aa;
    font-family: monospace;
    text-align: center;
    width: 580px;
    height: 80px;
}
.baseh {
    font-size: 16px;
    color: #ffffff;
    background-color: #0000aa;
    font-family: monospace;
    text-align: center;
    width: 580px;
    height: 60px;
}
.tfre {
    text-align: center;
    width: 100%;
    height: 100%;
}
.dx {
    background-color: #880000;
    font-family: "Courier New", "Courier", "monospace";
    font-variant: small-caps;
    font-size: 26px;
    font-style: normal;
    text-transform: none;
    color: #ffffff;
    vertical-align: middle;
    border: 7px double #600000;
    border-left: none;
    border-right: none;
    padding: 7px;
}
.rtxt {
    font-size: 12px;
    color: #00ffff;
}
.rimg {
    text-align: center;
    height: 80px;
    width: 80px
}
.freq {
    font-size: 58px;
    font-weight: bold;
    color: #33ff33;
}
.dot1 {
    height: 15px;
    width: 15px;
    background-color: #33ff33;
    border-radius: 50%;
    display: inline-block;
}
.dot2 {
    height: 15px;
    width: 15px;
    background-color: #135213;
    border-radius: 50%;
    display: inline-block;
}
.dol1 {
    height: 15px;
    width: 15px;
    background-color: #00fff0;
    border-radius: 50%;
    display: inline-block;
}
.dol2 {
    height: 15px;
    width: 15px;
    background-color: #82b2ae;
    border-radius: 50%;
    display: inline-block;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
th,
td {
    padding: 0px;
    text-align: center;
    vertical-align: top;
}
.but {
    text-align: center;
    color: #070601;
    border: 5px groove #933100;
    border-radius: 0px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    font-variant: normal;
    font-size: 30px;
    line-height: 30px;
    background-color: #cccccc;
    font-family: "Courier New", "Courier", "monospace";
}
.bod {
    color: #000000;
    background-color: #000000;
}
.intab {
    text-align: center;
    width: 10px;
    height: 10px;
    padding: 0px;
    color: #000000;
    background-color: #000000;
    border: hidden;
}
#tableta {
    display: table;
}
#tabletab {
    display: table;
    width: 100%;
}
#contenido {
    display: table-row;
    margin: 0 auto;
}
#contmega {
    font-family: Courier;
    font-size: 18px;
    border-bottom: 2px solid #000000;
    width: 100%;
}
#colum {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
#columd {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}
#columi {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}
#columb {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border: 10px solid #000000;
}
h3 {
    font-size: 18px;
    text-align: center;
    color: #e5e5e5;
    font-variant: small-caps;
    font-weight: normal;
    vertical-align: middle;
}
#sepa {
    width: 25px;
    height: 25px;
    border: 0px none;
}
